
/* >> bullets */
div.bullets li {
  text-align: left;
}

div.bullets > ul > li:before {
  content: "\00BB \0020";
}

/*Table layout under content*/
div.content > table,tr,td {
    border-right: 2px solid #8b8;
    border-bottom: 2px solid #8b8;
    font-weight: bold;
    margin-top:1.2em;
    margin-left:auto;
    margin-right:auto;
    white-space: pre;
    font-size: 1.5em;

}

div.content > tr,td {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*non mono space titles in code*/
div.code > h1 {
  font-family:"Gill Sans",Helvetica,Arial,sans 
}

div.content > svg {
    border-right: 2px solid #8b8;
    border-bottom: 2px solid #8b8;
    font-weight: bold;
    margin-top:1.2em;
    margin-left:auto;
    margin-right:auto;
    white-space: pre;
    font-size: 1.5em;

}
